{% load static %}

<footer class="footer">
  <div class="container">
    <div dir="rtl" class="d-block d-md-flex">
      <div class="col-12 col-md-6 text-right links-helpful-body">
        <span class="text-size-16 font-weight-bold">پیوند های مفید</span>
        <ul class="text-right links-helpful">
          <li><a class="text-white footer-a" href="#">صندوق رفاه دانشجویان</a></li>
          <li><a class="text-white footer-a" href="#">نقشه جامع علمی کشور</a></li>
          <li>
            <a class="text-white footer-a" href="#">وزارت علوم تحقیقات و فناوری</a>
          </li>
          <li>
            <a class="text-white footer-a" href="#">ستاد ویژه توسعه فناوری نانو</a>
          </li>
          <li><a class="text-white footer-a" href="#">بنیاد ملی نخبگان</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 text-right links-helpful-body">
        <span class="text-size-16 font-weight-bold">پیوند های مفید</span>
        <ul class="text-right links-helpful">
          <li>
            <a class="text-white footer-a" href="#">معاونت علمی و فناوری ریاست جمهوری</a>
          </li>
          <li>
            <a class="text-white footer-a" href="#">صندوق حمایت از پژوهشگران و فناوران کشور</a>
          </li>
          <li><a class="text-white footer-a" href="#">دبیرخانه شورای عالی عتف</a></li>
          <li>
            آدرس: دشت آزادگان، سوسنگرد، کوی 112 هکتاری -کدپستی:64418-78986 تلفن:
            24-36751021-061
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <span class="text-white text-size-13">تمامی حقوق مادی و معنوی این سایت متعلق به دانشگاه شهید چمران پردیس شهدای هویزه می
      باشد</span>
  </div>
  <div id="hero" class="py-2 text-center">
    <span class="text-white text-size-13">
      <span id="important">ساخته شده با ❤️ و ☕ توسط امیر حسین روحی و مصطفی رجب زاده</span>
    </span>
  </div>
</footer>

<script src="{% static 'js/smtp.js' %}"></script>