{% load static %}
{% load crispy_forms_tags %}
<header class="header">
  <section class="university-logo-body">
    <a href="/"><img src="{% static 'image/1x/shhut-logo-3.svg' %}" class="university-logo" alt="logo" /></a>
  </section>
  <section class="main-list-body">
    <ul class="ul-main-list">
      <li class="mr-2">
        <button class="btn-list btn-home">
          <a href="/">صفحه اصلی</a>
        </button>
      </li>     

      <li class="mr-2">
        <button class="btn-list btn-boss-zone">
          <span>دانشکده ها</span>
          <div class="list-div list-div-boss-zone">
            <ul class="list">
              {% for dp in list_dp %}
                <li><a href="{% url 'dp_view' dp.name %}">دانشکده {{ dp.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </button>
      </li>
      
      <li class="mr-2">
        <button class="btn-list"><a href="{% url 'professor-all' %}">اساتید دانشگاه</a></button>
      </li>
      {% for sub_menu in all_sub_menus %}
          <li class="mr-2">
            <button class="btn-list btn-boss-zone">
              <span>{{ sub_menu }}</span>
              <div class="list-div list-div-boss-zone">
                <ul class="list">
                {% for page in all_pages %}
                {% if page.sub_menu == sub_menu %}
                  <li><a href="{% url 'sub-menu-page-detail' page.pk %}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
              </div>
            </button>
          </li>
      {% endfor %}

      {% for m in all_menus %}
      
        <li class="mr-2">
          <button class="btn-list">
            <a href="{% url 'page-detail' m.pk %}">{{m.menu_title}}</a>
          </button>
        </li>

      {% endfor %}
      
      {% if request.user.is_staff %}
        <li class="mr-2"><button class="btn-list"><a href="{% url 'logout' %}">خروج از اکانت</a></button></li>
      {% else %}
        <li class="mr-2"><button class="btn-list" id="login" name="login">ورود به پورتال</button></li>
      {% endif %}
    </ul>
  </section>

  <section class="main-list-little-body">
    <button class="material-icons btn-main-list-little">subject</button>
    <div class="main-list-little fullscreen-height">
      <ul class="ul-main-list-little">
        <li><a href="/" class="btn-list-little btn-list-little-a">صفحه اصلی</a></li>        
        <li><a href="{% url 'professor-all' %}" class="btn-list-little btn-list-little-a">اساتید دانشگاه</a></li>

        <li>
          <button class="btn-list-little">دانشکده ها</button>
          <ul class="list-little">
            {% for dp in list_dp %}
              <li><a href="{% url 'dp_view' dp.name %}">دانشکده {{ d.name }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li><a href="{% url 'professor-all' %}" class="btn-list-little btn-list-little-a">اساتید دانشگاه</a></li>

        {% for sub_menu in all_sub_menus %}
          <li><button class="btn-list-little">{{ sub_menu }}</button>
            <ul class="list-little">
            {% for page in all_pages %}
              {% if page.sub_menu == sub_menu %}
                <li><a href="{% url 'sub-menu-page-detail' page.pk %}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
        {% endfor %}

        {% for m in all_menus %}
          <li><a href="{% url 'page-detail' m.pk %}" class="btn-list-little btn-list-little-a">{{m.menu_title}}</a></li>
        {% endfor %}

        {% if request.user.is_staff %}
          <li><a href="{% url 'logout' %}" class="btn-list-little btn-list-little-a">خروج از اکانت</a></li>
        {% else %}
          <li><button class="btn-list-little btn-list-little-a" id="login" name="login">ورود به پورتال</button></li>
        {% endif %}
      </ul>
    </div>
  </section>

</header>
<aside>
  <section class="group-btn-body">
    <div class="group-btn">
      <button id="btn-search" class="material-icons btn-custom btn-search">search</button>
      <a href="https://t.me/peykshhut" class="material-icons btn-custom btn-chanel">
        send
      </a>
      <button class="material-icons btn-custom btn-top-page" id="btn-top-page">
        expand_less
      </button>
    </div>
  </section>
</aside>
