.all-link-notification-underline {
  width: 140px;
  height: 3px;
  background: cyan;
  box-shadow: 0 0 7px cyan;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 1s;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.ostad-image {
  width: 80px;
  height: 80px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.ostad-details {
  direction: rtl;
  text-align: right;
  color: #181818;
  margin: 15px !important;
  font-size: 14px !important;
  line-height: 25px !important;
  width: -webkit-fill-available !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.ostad-name-detail {
  font-weight: 900 !important;
}

.ostad-level-detail {
  font-size: 13px !important;
  color: #8e8e8e !important;
}