.all-link-news-underline {
    width: 100px;
    height: 3px;
    background: cyan;
    box-shadow: 0 0 7px cyan;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 1s;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}