.sidebar-list {
    margin-bottom: 0px;
    padding-right: 0px;
    list-style-type: none !important;
    direction: rtl;
    text-align: right;
}

.sidebar-list-opener {
    display: none;
}

.sidebar-li {
    background: #ffffff;
    transition: all 0.5s;
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: initial;
    color: black !important;
}

.sidebar-btn {
    background: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 14px !important;
}

.sidebar-li:hover {
    background: #00000033;
}

.post-title {
    direction: rtl;
    text-align: right;
    padding: 15px;
    background: rgb(255 255 255);
    color: #3c3c3c;
    box-shadow: 0 3px 7px rgb(0 0 0 / 8%);
    border-radius: 5px;
}

.post-title-text {
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.post-title-icon {
    position: absolute !important;
}

.sidebar-body-animation-on {
    opacity: 1;
    transform: translateY(0px);
}

.post-body-animation-on {
    opacity: 1;
    transform: translateY(0px);
}

.animation-on {
    opacity: 1;
    transform: translateY(0px);
}

.image-post-body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.post-date {
    text-align: right;
    direction: rtl;
}

.details-list {
    padding: 15px;
    background: white;
    border: 1px dashed #00000044;
    border-radius: 5px;
    transition: all 1s;
}

.btn-open-list-details {
    background: white;
    border: 0;
    border-radius: 5px;
    width: 100%;
    text-align: right;
    transition: all 0.4s;
    padding: 0px 10px;
}

.list-details {
    transition: all 0.5s;
}

.btn-open-list-details * {
    color: white !important;
}

.btn-download-details-file {
    margin-bottom: 10px;
    background: white;
    border: 1px dashed #00000022;
    border-radius: 5px;
    width: 100%;
    text-align: right;
    transition: all 1s;
    padding: 10px;
}

.btn-download-details-file:nth-last-child(1) {
    margin-bottom: 0px;
}


.btn-download-details-file:nth-last-child(1) {
    margin-bottom: 0px;
}


.btn-download-details-file a {
    color: #8e8e8e !important;
    display: inline-block;
    width: 100%;
}

.btn-download-details-file:hover {
    background: white;
}

#list-details-1 {
    display: none;
}

#list-details-2 {
    display: none;
}

#list-details-3 {
    display: none;
}

.ostad-image-post-body {
    height: fit-content;
}

.ostad-image-post {
    height: 4cm;
    width: 3cm;
}

.sidebar-li>button>a {
    color: #8e8e8e;
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.sidebar-li:hover>button>a {
    color: white !important;
}

.sidebar-li>button>a:hover {
    color: white !important;
}

.slidebar-body-parent {
    margin-right: 24px;
    top: 90px;
    float: left;
    position: sticky;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: -15px;
    -webkit-transition: top .3s ease;
    transition: top .3s ease;
}

.btn-sidebar-admin-opener {
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background: white;
    font-weight: bold;
    color: #838383;
}