{% extends 'base-admin.html' %}
{% load static %}
{% block title %}News Post Create{% endblock title %}

{% block content %}

<div class="col-12">
    <div class="c-card">
        <div class="c-card-header font-weight-550 text-size-17">
            ساخت صفحه جدید
        </div>
        <div class="c-card-body">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="text" name="written_by" value="{{ request.user }}" hidden>
                <input type="checkbox" name="draft" checked hidden>
                <div class="row">

                    {% csrf_token %}
                    <div class="col-12">
                        <span class="font-weight-550" style="color: #ff2700;"># در این قسمت نام صفحه ای
                            که قصد ایجاد آن را دارید بنویسید</span>
                    </div>
                    <div class="col-12" mt-4>
                        <input type="text" name="title" id="title" class="mt-4 inp font-weight-550 text-474747"
                            style="padding: 16px;" placeholder="نام صفحه جدید را پیدا کنید" value="{{ n.title }}">
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <select name="target_dep" id="target_dep" class="inp font-weight-550 text-black-50">
                            <option value="null">----------</option>
                            {% for d in dep %}
                                <option value="{{ d.id }}">{{ d.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <select name="post_style" id="post_style" class="inp font-weight-550 text-black-50">
                            <option value="null">----------</option>
                            <option value="اخبار">اخبار</option>
                            <option value="اطلاعیه">اطلاعیه</option>
                        </select>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="file" accept="image/*" name="post_image" id="image-uploader" hidden>
                        <label for="image-uploader" style="width: 100%;">
                            <div class="image-uploader-custom-btn">
                                برای آپلود عکس اینجا را کلیک کنید
                            </div>
                        </label>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="image-contoroler">
                            {% if n.post_image %}
                                <img id="preview-image" src="{{ n.post_image.url }}">
                            {% else %}
                                <img id="preview-image" src="{% static 'img-admin/1x/atlaie.png' %}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="text-editor">
                            {{ form.media }}
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="submit" value="ایجاد صفحه" id="create-new-page">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<style>
    #cke_id_content {
        width: 100% !important;
    }
</style>

{% endblock content %}

{% block extra_js %}
<!-- ANCHOR image preview -->
<script>
    let imgInp = document.getElementById("image-uploader");
    let blah = document.getElementById("preview-image");
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
            imgInp.value = blah.src
        }
    }

</script>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("select#target_dep").value = "{{ n.target_dep.id }}";
        document.querySelector("select#post_style").value = "{{ n.post_style }}";
        setTimeout(setText, 3000);
        function setText() {
            let i_f = document.querySelector('iframe').contentDocument;
            i_f.body.innerHTML = `{{n.content|safe}}`;
        }
    });

</script>

<script src="{% static 'js-admin/app.js' %}"></script>

{% endblock extra_js %}