{% extends 'base.html' %}
{% load static %}
{% block title %}همه رویداد ها{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/all-links-event.css' %}" />
<script src="{% static 'js/jQuery.js' %}"></script>
{% endblock styles %}

{% block content %}
<div class="py-5"></div>
<div class="container">
  <div class="text-center">
    <span class="text-size-15">همه رویداد ها</span>
    <div class="all-link-event-underline"></div>
  </div>
  <div dir="rtl" class="row mt-4">
    {% for news in news_events %}
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <div dir="rtl" class="event-body">
        <div class="event-date">
          <span class="event-date-number">{{ news.get_event_date_day }}</span>
          <span class="event-date-moon">{{ news.get_event_date_month }}</span>
        </div>
        <div class="event-title">
          <span>{{ news.title }}</span>
          <span class="event-time-ago">{{ news.show_time_left }} روز</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}