{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock title %}
{% block content %}

<section class="slider-parent">
    <ul class="slider" id="slider">
    </ul>
    <div class="slide-location">
        <ul class="slide-num" id="slide-num">

        </ul>
    </div>
</section>

<script>
    const Image_Slider_Value = {
        Image_num : {{ c|length }},
        Ul_Slider_ID : "slider",
        Ul_Slide_Location_ID : "slide-num",
        Slider_Tracker_Active_Class : "slider-counter-active",
        slide_time : "5000" 
    }
    var Image_slide = [
            {% for ci in c %}
                {
                    Image_Url: "{{ ci.img.url }}",
                    Information: "{{ ci.details }}"
                },  
            {% endfor %}
        ]
        Image_slider(Image_Slider_Value["Image_num"],Image_Slider_Value["Ul_Slider_ID"],Image_Slider_Value["Ul_Slide_Location_ID"],Image_Slider_Value["Slider_Tracker_Active_Class"],Image_Slider_Value["slide_time"]);
</script>

<section class="systems-body">
    <div class="systems-right-pattern"></div>
    <div class="systems-left-pattern"></div>
    <div class="systems-body-title">
        <span class="systems-title">سـامـانـه هـای دانـشـگـاه</span>
        <div class="systems-title-underline"></div>
    </div>
    <div class="container custom-container-systems mt-3">
        <div class="systems-list">
            <div dir="rtl" class="row row-animation-systems row-animation-systems-off">
            {% for us in uni_system %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                    <a href="{{us.uni_system_link}}">
                        <button aria-label="Button redirecting to Nad Students Section" class="btn-system">
                            <div class="btn-color"></div>
                            <a href="{{us.uni_system_link}}" dir="rtl"
                                class="d-flex">
                                {% if us.uni_system_image %}
                                    <img class="image-btn-system" src="{{us.uni_system_image.url}}"
                                    alt="logo nad daneshjoi" />
                                {% else %}
                                    <img class="image-btn-system" src="{% static 'image/1x/shhut-logo.png' %}"
                                    alt="logo nad daneshjoi" />
                                {% endif %}
                                <span class="text-btn-system">{{us.uni_system_title}}</span>
                            </a>
                        </button>
                    </a>
                </div>
            
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="notifications-body">
    <div class="container">
        <div class="d-block">
            <div dir="rtl" class="d-flex mb-2">
                <div class="w-50 text-right">
                    <span class="material-icons notifications-icon-title">turned_in_not</span><span
                        class="text-size-15">اطـلاعیـه هـا
                    </span>
                    <div class="notifications-title-underline"></div>
                </div>
                <div class="w-50 notifications-all-link-body">
                    <a class="text-size-15 text-black" href="{% url 'notif-all' %}"><span
                            class="material-icons notifications-icon-title">subject</span>همه</a>
                </div>
            </div>
            <div class="notification-list mt-3">
                <div dir="rtl" class="row">
                    {% for ni in first_four_info %}
                    {% include 'includes/notif.html'%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="newss-body">
    <div class="container">
        <div class="d-block">
            <div dir="rtl" class="d-flex mb-2">
                <div class="w-50 text-right">
                    <span class="material-icons newss-icon-title text-white">bookmark</span>
                    <span class="text-size-15 text-white">خبــر هـا</span>
                    <div class="newss-title-underline"></div>
                </div>
                <div class="w-50 newss-all-link-body">
                    <a class="text-size-15 text-white" href="{% url 'news-all' %}"><span
                            class="material-icons newss-icon-title"> subject </span>همه</a>
                </div>
            </div>
            <div class="news-list mt-3">
                <div dir="rtl" class="row">
                    {% for np in first_four_news %}
                    {% include 'includes/news.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events-body">
    <div class="container">
        <div class="d-block">
            <div dir="rtl" class="d-flex mb-2">
                <div class="w-50 text-right white-space">
                    <span class="material-icons events-icon-title text-black">event_note</span>
                    <span class="text-size-15">رویـداد هــای پـیـشـرو</span>
                    <div class="events-title-underline"></div>
                </div>
                <div class="w-50 events-all-link-body">
                    <a class="text-size-15 text-black" href="{% url 'event-all' %}"><span
                            class="material-icons events-icon-title"> subject </span>همه</a>
                </div>
            </div>
            <!-- todo -->
            <div class="events-list mt-5">
                <div dir="rtl" class="row">
                    {% if first_four_notification %}
                    {% for nn in first_four_notification %}
                    {% include 'includes/event.html' %}
                    {% endfor %}
                    {% else %}
                    {% include 'includes/no-event.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="videos-section-body">
    <section class="videos-body">
        <div class="container">
            <div class="d-block mt-2">
                <div dir="rtl" class="d-flex mb-2">
                    <div class="w-50 text-right">
                        <span class="material-icons conference-icon videos-icon-title text-white">play_circle</span>
                        <span class="text-right text-size-15 text-white">همـایـش هـا</span>
                        <div id="conference-underline" class="videos-title-underline conference-underline"></div>
                    </div>
                    <div class="w-50 videos-all-link-body">
                        <a class="text-size-15 text-white" href="{% url 'lecture-event-all' %}"><span
                                class="material-icons conference-icon videos-icon-title">subject</span>همه</a>
                    </div>
                </div>
                <div class="videos-list conference-list mt-3">
                    <div dir="rtl" class="row">

                        {% for object in first_four_unievents %}
                        {% include 'includes/video.html' %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="videos-body-two">
        <div class="container">
            <div class="d-block mt-3">
                <div dir="rtl" class="d-flex mb-2">
                    <div class="w-50 text-right">
                        <span class="material-icons course-icon videos-icon-title text-white">play_circle</span>
                        <span class="text-right text-size-15 text-white">آمــوزش هــا</span>
                        <div class="videos-title-underline course-underline"></div>
                    </div>
                    <div class="w-50 videos-all-link-body">
                        <a class="text-size-15 text-white" href="{% url 'lecture-all' %}"><span
                                class="material-icons course-icon videos-icon-title">subject</span>همه</a>
                    </div>
                </div>
                <div class="videos-list course-list mt-3">
                    <div dir="rtl" class="row">

                        {% for object in first_four_lectures %}
                        {% include 'includes/video.html' %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="posts-body">
    <div class="container">
        <div class="d-block">
            <div dir="rtl" class="d-flex mb-2">
                <div class="w-50 text-right">
                    <span class="material-icons posts-icon-title">turned_in_not</span><span class="text-size-15">پــسـت
                        هـا
                    </span>
                    <div class="posts-title-underline"></div>
                </div>
                <div class="w-50 posts-all-link-body">
                    <a class="text-sise-15 text-black" href=""><span
                            class="material-icons posts-icon-title">subject</span>همه</a>
                </div>
            </div>
            <div class="post-list mt-3">
                <div dir="rtl" class="row">
                    {% for sp in first_four_sp %}
                    {% include 'includes/post.html'%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
{% block js %}
<script src="{% static 'js/animation-index.min.js' %}"></script>
<script src="{% static 'js/image-news-notif-image-size.min.js' %}"></script>
<script src="{% static 'js/video-image-size.min.js' %}"></script>
{% endblock js %}